@import url(https://fonts.googleapis.com/css?family=Staatliches);
/* aula 1 - 01/04/2023 */
body, ul {
    margin: 0px;
    padding: 0px;
}
#header #menu a {
    color: #ffffff;
    text-decoration: none;
    font-family: Staatliches;
    text-transform: uppercase;
    font-size:  1.25em;
    transition: 0.3s;
    margin-bottom: 30px;
}
#header #menu a:hover {
    color: #ffffff;
    font-size: 1.6em;
    transition: 0.3s;
    text-shadow: 4px 4px 6px #000749f8;
    

}
#header #menu ul{
    margin-top: 30px;
}
#logo img:hover {
    box-shadow: 4px 4px 6px #0000007a; 
    transition: 0.3s;
    border-radius: 90%;
}

#logo img {
    float: left;
    height: 55px;
    position: relative;
    top: 0px;
    left: 0px;
}
#header {
    width: 100%;
    position: relative;
    z-index: 90;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #c70000;
    box-shadow: 6px 6px 8px rgba(3, 3, 3, 0.562);
    transition: 0.3s;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#btn-mobile {
    display: none;
}
/*
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    padding-top: 80px;
}
*/
#carouselExampleInterval {
    position: relative;
    z-index: 10;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 6px 6px 8px rgb(128, 128, 128);
    transition: 0.3s;
    place-items: normal legacy;
    margin-block: 10px;
    height: auto;
}
#carouselExampleInterval .carousel-inner img {
    max-height: 950x;
    width: 100%;
}
@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #c70000;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: solid white;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 3px solid;
        width: 30px;
        color: black;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display:block ;
        width: 30px;
        height: 2px;
        background: currentColor;
        margin-top: 4px;
        transition: 0.6;
        position: relative;
        border-top: 3px solid;
    }
    #nav.active #hamburger {
        border-top-color:transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
/* Estilo CSS Banner */
.section-banner-home {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    padding: 50px;
    background-color: rgb(134, 134, 134);
}
.section-banner-home img {
    height: 400px;
}.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}
.section-banner-home .texto-banner h1 {
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px;
    color: white;
}
.section-banner-home .texto-banner p {
    font-size: 15px;
    margin-bottom: 20px;
}
.section-banner-home .texto-banner a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(134, 134, 134);
    padding: 4px 14px;
}
.section-banner-home .texto-banner a:hover {
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
    font-size: 24px;
    font-weight: bold;
    background-color: #004ea7;
    padding: 4px 14px;
    font-size: 1.6em;
    transition: 0.3s;
    font-size: 1.6em;
}
/* fim CSS banner */
/* CSS destaque */
.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption {
    font-size: 13px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.destaque a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: cyan;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}
/*fim destaque css*/

/* CSS novidades */
.novidades .textbody {
    width: 80%;
    margin: 70% auto;
}
.novidades h2 {
    color: #0000007a;
    font-size: 26px;
    width: 70%;
}
.novidades p {
    color: rgb(0, 0, 0);
}
.novidades a {
    color: white;
    text-decoration: underline;
    text-decoration-color: violet;
    padding: 6px 12px;
    background-color: blue;
    font-weight: 400;
}
/* fim CSS novidades*/
/* inicio CSS galerias*/
.galeria {
    margin: 60px auto 20px;
}
.galeria h2 {
    text-align: center;
    font-size: 24px;
}
galeria p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}
/*Fim CSS galerias*/
/* inicio CSS footer */
.rodape {
    padding: 50px 50px 0;
}
.rodape .container #logo-rodape img {
    height: 50%;
    width: 50%;
    padding-left: 10px;
    transition: transform .3s;
    display: block;
    border-radius: 90%;
}
.rodape .container #logo-rodape img:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgb(128, 128, 128)

}
.rodape .info-contato p {
    margin: 0px;
}
.rodape a {
    text-decoration: none;  
    color: black;
    font-size: 13px;
}
.rodape a:hover {
    font-weight: bold;
}
.rodape .redes-sociais img {
    width: 45px;
    height: 45px;
}
.rodape p.direitos {
    text-align: center;
    margin-top: 40px;
}
.rodape .redes-sociais img {
    height: 10%;
    width: 10%;
    padding-left: 0px;
    transition: transform .3s;
    border-radius: 10%;
    margin-left: 0.5rem
}
.rodape .redes-sociais img:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgb(128, 128, 128)

}
/* inicio css do streaming */
.embed-container {
    position: relative;
    padding-bottom: 0;
    height: auto;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}
.embed-container h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.embed-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: gray 0.5em 0.5em 0.3em;
}
.embed-container .col-md-4 {
    margin-top: 20px;
}
/* fim css streaming */
/* inicio css contato */
.contato {
    margin-top: 50px;
}
.form_main {
    width:100%;
}
.form_main h4 {
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
font-size: 20px;
font-weight: 300;
margin-top: 22px;
margin-bottom: 15px;
text-transform: uppercase; 
}
.col-md-6 .text-center p {
   border-bottom: 3px solid #f60000;
   padding-bottom: 9px;
   position: relative;
}
.text-left {
    border-bottom: 1px solid gray;
    padding-bottom: 9px;
    position: relative;
}
.text-left span {
    background: black none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 0px;
}
.form-horizontal {
    border-radius: 107px;
    padding: 6px;
}
.form-control[type="text"] {
    border: 1px solid gray;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.form-control[type="email"] {
    border: 1px solid gray;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.form-control-msg[type="text"] {
    border: 1px solid gray;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.formbutton[type="submit"] {
    -moz-box-shaddow: inset 0px 1px 0px 0px ;
    -webkit-box-shaddow: inset 0px 1px 0px 0px ;
    -moz-box-shaddow: inset 0px 1px 0px 0px ;
    background-color: blue;
    display: inline-block;
    border: 1px solid #2489d6;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.formbutton:hover {
    background-color:rgb(rgb(72, 114, 228)) ;

}
.formbutton:active {
    position: relative;
    top: 1px;
}
.txt2:hover {
    background: white none repeat scroll 0 0;
    color: #004ea7;
    transition: all 0.5s ease 0s;

} 
/* inicio css whatsapp */
.whatsapp {
    position: fixed;
    z-index: 2;
    right: 20px;
    bottom: 100px;
}
/* inicio efeito pulse */
.pulse   {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }
    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(200%); 
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
        filter: 100%;
    }
    100%{
        transform: scale(1.1);
        filter: 200%;
    }
}

.whatsapp img {
    height: 50px;
}
/* fim css whatsapp */
